.contenedor-prodcuts{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 685px) {

    .contenedor-prodcuts{
        margin-top: 0px;
    }
}